/* global style here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: #FBFBFB;
}



/* global style end */


/* navigation style start here */

.nav-main{
    margin-top: 34px;
}
.top-navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
   

}

.top-navigation .logo img{
    width: 139px;
    height: 60px;
} 

.top-navigation .menu ul{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    list-style-type: none;
    

}

.top-navigation .menu li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.top-navigation .nav-button button{
    border: none;
    background-color: #30B868;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.top-navigation .nav-button button:hover{
background-color: #001931;
}

/* navigation style end here */



/* banner section start here */
.banner{

    max-width: 1600px;
    height: 674px;
    background: url(./assets/hero-bg.png);
    margin-top: 34px;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
}

.content{
    text-align: center;
    margin: 0 auto;
    max-width: 1360px;    
    height: 380px;
}

.content .banner-button{
    background-color: white;
    display: inline;
    padding: 8px 12px;
    border-radius: 1000px;
    

}

.banner-button button{
    color: rgba(70, 145, 101, 1);
    font-size: 16px;
    font-weight: 500;
    font-style: medium;
    border: none;
    line-height: 19px;
    margin-bottom: 16px;
}

.content .banner-content h1{
    font-size: 72px;
    line-height: 84px;
    color: #FFF;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 16px;
    
}

.content .banner-content span{
    color: #30B868;
}

.content .banner-content p{
    font-size: 18px;
    line-height: 24px;
    color: #FFF;
    text-transform: capitalize;
    margin-bottom: 32px;
    
}

.content .banner-fotter-button .button-one{
background-color: #30B868;
padding: 16px 16px;
border: none; 
margin-right: 16px;
border-radius: 4px;
font-size: 16px;
font-weight: 600;
color: #FFF;
cursor: pointer;
}

.content .banner-fotter-button .button-one i{
    margin-left: 10px;
}

.content .banner-fotter-button .button-one:hover{
    background-color: #001931;
    color: white;
}

.content .banner-fotter-button .button-two{
background-color: transparent;
border: 1px solid white;
padding: 16px 16px;
border-radius: 4px;
font-size: 16px;
font-weight: 600;
color: #FFF;
cursor: pointer;
}

.content .banner-fotter-button .button-two:hover{
    background-color: #001931;
    color: white;
    border: 1px solid #001931;
}

.content .banner-fotter-button .button-two i{
    margin-right: 10px;
}

/* banner section end */

/* 
notes card start */

.note-section{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 120px;
}

.card-flex{
    display: flex;
    gap: 20px;
    justify-content: center;
    
}

.card-header-section h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    text-transform: capitalize;
    margin-bottom:16px;
}

.card-header-section p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    text-transform: capitalize;
    margin-bottom:44px;
}

.card-flex{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: stretch;

}

.card-flex h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.card-flex p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 20px;
    flex-grow: 1;
}

.card{
    background-color: white;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    max-width: 322px;
    min-height: 250px;
    box-shadow: 0 -5px 10px rgba(0,0,0,0.2);
    flex-direction: column;
    flex: 1;
    

}

.icon{
    background-color: #F95555;
    color: #FFF;
    width: 60px;
    height: 60px;
    border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 70px 131px 16px 131px;
}

/* notes section end */

/* brain section */

.brain-section{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
}

.brain-image-section{
    max-width: 600px;
    min-height: 600px;
    border-radius: 12px;
 
    
}

.brain-content{
    max-width: 580px;
    margin-right: 126px;
    
}
.brain-section .brain-content h6{
    tab-size: 16px;
    line-height: 20px;
    color: #30B868;
    margin-bottom: 16px;
    
}

.brain-section .brain-content h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
    
    
}

.brain-section .brain-content p{
    tab-size: 16px;
    list-style: 20px;
    color: #627382;
    margin-bottom: 40px;
    
    
}

.brain-list ul li{ 
    list-style: none;
    display: flex;
    gap: 5px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 20px;
}

.brain-list ul li img{ 
    text-align: center;
    width: 20px;
    height: 20px;
    object-fit: contain;
}

