/* global style here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: #FBFBFB;
}



/* global style end */


/* navigation style start here */

.nav-main{
    margin-top: 34px;
}
.top-navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
   

}

.top-navigation .logo img{
    width: 139px;
    height: 60px;
} 

.top-navigation .menu ul{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    list-style-type: none;
    

}

.top-navigation .menu li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.top-navigation .nav-button button{
    border: none;
    background-color: #30B868;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.top-navigation .nav-button button:hover{
background-color: #001931;
}

/* navigation style end here */



/* banner section start here */

.banner{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    height: 550px;
    width: 100%;
    color: #FFF;

}

.banner-contant{
    background-color: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 550px;
}

.content{
   max-width: 800px; 
}

.circle{
    background-color: white;
    display: inline-block;
    border-radius: 1000px;
    font-size: 16px;
    color: #30B868;
    padding: 8px 12px;
    margin-bottom: 16px;

}

.circle img{
    margin-right: 6px;
    text-align: center;
}

.content h1{
    font-size: 35px;
    color: #FFF;
    line-height: 40px;
    font-weight: 800;
    margin-bottom: 16px;
}

.content .highlight{
    color: #30B868;
    margin-bottom: 16px;
}

.content p{
    font-size: 18px;
    line-height: 24px;
    color: #FFF;
    margin-bottom: 32px;
}

.content button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    border-radius: 4px;
    padding: 16px 16px;
    text-decoration: none;
}

.btn-primary {
  background-color: #30B868; 
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-right: 16px;
}
.btn-primary:hover {
  background-color: #001931;
}
.btn-secondary {
  border: 1px solid white;
  color: white;
}

.btn-secondary:hover {
   background-color: #001931;
}

/* notes section */
.notes-section {
  padding: 80px 20px;
  text-align: center;
}

.notes-header h2 {
  font-size: 48px;
  color: #001931; 
  margin-bottom: 16px;
}

.notes-header p {
  color: #627382;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 44px;
}

.flex-card{
    display: flex;
    justify-content: center;
    gap: 24px;
    max-width: 800px;
    margin: 0 auto;

}

.card {
  background: #fff;
  border: 1px solid #f1f5f9;
  border-radius: 12px;
  padding: 40px 30px;
  flex: 1; 
  min-width: 300px; 
  box-shadow: 0 -5px 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.icon-circle {
  width: 60px;
  height: 60px;
  background-color: #ff5e5e; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.card p{
    font-size: 16px;
    color: #001931;
    list-style: 20px;
    margin-bottom: 16px;
}
/* brain section start */
.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  gap: 60px; 
}

.brain-image img{
    height: 600px;
    width: 600px;
}

.brain-content{
    width: 700px;
    height: 397px;
}

.brain-content .brain-heading{
font-size: 16px;
line-height: 20px;
color: #30B868;
margin-bottom: 16px;
}

.brain-content h2{
font-size: 48px;
font-weight: 700;
color: #001931;
margin-bottom: 16px;
}

.brain-content p{
font-size: 16px;
color: #627382;
margin-bottom: 40px;
}

.list{
    list-style: none;

}

.list li{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-size: 16px;
    color: #001931;
    gap: 6px;
}
/* brain section end */

.cta-section {
  background-color: #F7F6F2;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  max-width: 80%;
  align-items: center;
  margin: 0 auto;
  margin-top: 120px;

}

.cta-container {
  background-color: #f8f7f3; 
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.cta-container h2{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-top: 80px;
    margin-bottom: 16px;
}

.cta-container p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}

.cta-btn {
  background-color: #4f966e; 
  color: white;
  padding: 16px 16px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  gap: 10px;
  margin-bottom: 25px;
}

.cta-btn:hover{
    background-color: #001931;
}

.cta-footer{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

/* footer */

.main-footer {
  background-color: #001931; 
  color: white;
  padding: 50px 60px 20px;
  margin-top: 50px;
}

.footer-top {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  margin-top: 120px;
}

.social-icons {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.social-icons{
  width: 24px;
  height: 24px;
  margin-left: 50px;
  margin-top: 10px;

}

.social-icons  a{
    text-decoration: none;
    color: white;
}

.footer-divider {
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 30px;
}

.footer-bottom {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #FAFAFA;
}

.social-container h4{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}


